<header class="header">
  <div class="container">
    <nav class="nav-left">
      <a href="/" class="nav-link active">Cinema Bom</a>
      <a href="/em-cartaz" class="nav-link">Em cartaz</a>
      <a href="#" class="nav-link">Promoções</a>
    </nav>

    <div class="nav-right">
      <div class="search-container" 
        [class.active]="isSearchActive"
        (click)="!isSearchActive && openSearch(); $event.stopPropagation()"
      >
        <i class="search-icon">🔍</i>
        <span *ngIf="!isSearchActive" class="search-text">Encontre um filme</span>

        <form *ngIf="isSearchActive" class="search-form" (ngSubmit)="onSearchSubmit()">
          <input 
            type="text"
            class="search-input"
            placeholder="Digite o nome do filme"
            [(ngModel)]="searchQuery"
            name="searchQuery"
            (click)="$event.stopPropagation()"
            autofocus>
        </form>
      </div>

      <div class="user-section">
        <div *ngIf="!currentUser; else loggedInTemplate" class="user-container" (click)="openLoginModal($event)">
          <i class="user-icon">👤</i>
        </div>

        <ng-template #loggedInTemplate>
          <div class="user-container logged-in relative" (click)="toggleUserMenu($event)">
            <i class="user-icon">👤</i>
            <span class="user-name">Olá, {{ currentUser?.nome }}</span>
            <button class="logout-btn" (click)="logout()">Sair</button>

            <app-user-menu-component [isOpen]="isUserMenuOpen"></app-user-menu-component>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</header>

<app-login-modal
  [isOpen]="isLoginModalOpen"
  (close)="closeLoginModal()"
  (registerClick)="switchToRegister()"
  (loginSuccess)="onLoginSuccess($event)">
</app-login-modal>

<app-register-user-component
  [isOpen]="isRegisterModalOpen"
  (close)="closeRegisterModal()"
  (loginClick)="switchToLogin()"
  (registerSuccess)="onRegisterSuccess($event)"
></app-register-user-component>